.humidifier {
    margin-top: 5em;
}

#button-led.red {
    fill: #ff4444 !important;
}

#button-led.blue {
    fill: #4444ff !important;
}

#button {
    cursor: pointer;
    transform: translateY(0.em);
    transition: all 0.5s;
}

#button.depressed {
    transform: translateY(0.25em);
    transition: all 0.5s;
}

svg {
    width: 100%;
}
